<h2>Edit <%= @stock.item_name %></h2>
<form method="POST" action="/stock/<%= @stock.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="item_name"> Name:</label>
      <input type="text" name="item_name" id="item_name" value="<%= @stock.item_name %>"/>
    </div>

    <div class="form-el">
      <label for="inventory"> Inventory:</label>
      <input type="number" name="inventory" id="inventory" value="<%= @stock.inventory %>"/>
    </div>

    <div class="form-el">
      <label for="price"> Price:</label>
      <input type="number" name="price" id="price" value="<%= @stock.price %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Stock Edit"/>
    </div>

  </div>
</form>
